@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

html {
  height: 100%; /* Set height to 100% */
  background: linear-gradient(180deg, #D0D6F6 0%, #9DD6FF 100%);
}

body {
  width: 25%;
  font: .875em/1.6 'Inconsolata', monospace;
  color: #000000;
  font-weight: 400;
  background-color: #ffffff;
  padding: 42.5em 2.5em 5em; 
  float: right;
  min-height:   100%; 
}

/* Rest of the CSS code */

::selection{
  background: #000000
}
::-webkit-selection{
  background: #000000
}
::-moz-selection{
  background: #000000
}
a{
  color: #000000;
}
a:hover,a:focus{
  background: #181818;
  color:rgb(0, 0, 0)
}
h2{
  font-size: 1.3em;
  font-weight: 400;
}
p{
  margin-bottom:2em;
}
abbr{
  cursor: help;
}
ul{
  list-style: none;
  padding: 0;
}
li{
  margin:1em 0 0;
}

kbd{
  font-family: 'Inconsolata', monospace;
  border:1px solid #999;
  text-transform: lowercase;
  padding:0 .2em;
}
input[type="text"]{
  max-width: 7em;
  border: none;
  font-family: inherit;
  background: #ffffff;
  padding:0 .5em;
}
input[type="text"]:focus{
  background: #ffffff;
  color: #000000;
  outline:none;
}

.command{
  position: absolute;
  bottom: 0%; 
  display: block;
  color: #000000;
  font-weight: 700;
  margin: 1em 0;
  padding-left: 0%;
  font-size: 1.1em;
}
section{
  display: none;
}
.open{
  display: block;
}

#home {
  position: absolute;
  top: 200px;
  right: 70px;
}


.turn {
  position: fixed;
  top: 45px;
  left: 60px;
  z-index: 9999;
  font-size: 1.2em;
  font-weight: 700;
  color: #000000;
}

.image {
  position: fixed;
  bottom: 0;
  left: 3%;
  width: 11%; /* adjust the size as needed */
  height: 30%; /* adjust the size as needed */
  z-index: 9999; /* ensure it appears on top of other elements */
}


/* botton */
.right-button-container {
  display: flex;
  justify-content: flex-end;
  height: 50vh;
  position: absolute;
  right: 14%;
  top: -8%;
}

.right-button {
  margin-left: 0px;
  margin-top: 10%;
}


.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: Arial Rounded MT Bold;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .btn-3 {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
     background-color: #ffffff;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover{
     color: rgba(2,126,251,1);
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
    
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
    
  }
  .my-box {
    box-sizing: border-box;
    position: absolute;
    width: 210px;
    height: 65px;
    left: 541px;
    top: 0px;
    background: linear-gradient(180deg, #FFFFFF 0%, #DCF3FF 100%);
    border: 1px solid #5779C2;
    border-radius: 11px;
    z-index: -1; /* Set a lower z-index value */
  }
  
  .clock-container {
    position: absolute;
    top: 1.5%;
    left: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Set a higher z-index value */
  }
  
  .clock-container img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    object-fit: cover;
  }
  