:root {
    --clock-flip-font-size: 120px;
    --clock-flip-border-radius: 8px;
    --clock-digit-gap: 20px;
    --clock-dot-size: 20px;
    --clock-height: calc(var(--clock-flip-font-size) * 1.2);
    --clock-flip-width: calc(var(--clock-flip-font-size) * 0.8);
    --clock-flip-margin: calc(var(--clock-digit-gap) / 2);
    --clock-flip-section-width: calc(2 * (var(--clock-flip-width) + 2 * var(--clock-flip-margin)));
    --clock-flip-bg: #000000;
    --clock-flip-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    --clock-flip-font-color: #ffffff;
    --clock-flip-font-shadow: 0 1px 2px #000;
  }
  
  /* FlipClock */
  .countdown-wrapper {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .countdown.flip-clock-wrapper ul {
    height: 144px;
    margin: 0 10px;
    width: 96px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  }
  
  .countdown.flip-clock-wrapper ul li {
    line-height: 144px;
  }
  
  .countdown.flip-clock-wrapper ul li a div div.inn {
    background-color: #000000;
    color: #ffffff;
    font-size: 120px;
    text-shadow: 0 1px 2px #000;
  }
  
  .countdown.flip-clock-wrapper ul,
  .countdown.flip-clock-wrapper ul li a div div.inn {
    border-radius: 8px;
  }
  
  .countdown.flip-clock-wrapper ul li a div.down {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .countdown.flip-clock-wrapper ul li a div.up:after {
    top: 70px;
  }
  
  .countdown .flip-clock-dot.top {
    top: 49.6px;
  }
  
  .countdown .flip-clock-dot.bottom {
    top: 90.4px;
  }
  
  .countdown .flip-clock-dot {
    height: 20px;
    left: 20px;
    width: 20px;
    background: #000000;
  }
  
  .countdown .flip-clock-divider {
    height: 144px;
    width: 60px;
  }
  
  .countdown .flip-clock-divider:first-child {
    width: 0;
  }
  
  .countdown .flip-clock-divider.seconds .flip-clock-label,
  .countdown .flip-clock-divider.minutes .flip-clock-label {
    right: -176px;
  }
  
  .countdown .flip-clock-divider .flip-clock-label {
    color: #ffffff;
    font-size: 30px;
    width: 152px;
  }
  