body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }

  .bg-image {
    background-image: url("../../Background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  .square {
    position: relative;
    width: 140vmin;
    height: 80vmin;
    background-color: #d2f0fd ;
    opacity: 0.8;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }
  
  #logo {
    position: absolute;
    top: -4%;
    left: 50%;
    transform: translateX(-50%);
    width: 540px;
    height: 320px;
  }

  #box1 {
    position: absolute;
    top: 15%;
    left: 50.4%;
    transform: translateX(-50%);
    width: 350px;
    height: 47px;
    border-radius: 20px;
    background-color: #1589E6;
  }

  #box1::before {
    content: "Select Character";
    display: block;
    color: #fff;
    font-size: 32px;
    text-align: center;
    margin-top: 4px;
    font-family: Arial Rounded MT Bold;
  }

  .hero-section {
    position: absolute;
    top: 50%;
    left: 76%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 130px;
    grid-row-gap: 10px;
    max-width: var(--width-container);
    width: 100%;
    opacity: 10;
  }
  
  @media(min-width: 10px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 20px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-image: url("../../p1wbg@2x.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card__background2{
    background-image: url("../../p2wbg@2x.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }

  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }

  .card.selected {
    border: 5px solid hotpink;
  }
  
  /* Rest of the CSS for card grid and card styles */
  

  
  /* button back */
  .button {
    position: absolute;
    left: 10%;
    top: 14%;
    width: 2.5em;
    height: 2.5em;
    margin-top: -1em;
    padding: 0.5em;
    color: #000000;
    background: #ffffff;
    border-radius: 50%;
    line-height: 2;
    text-align: center;
    font-family: impact;
    cursor: pointer;
    text-decoration: none;
  }

  a.button-back span {
    top: -62%;
    text-decoration: none;
    position: relative;
    z-index: 1;
    font-size: 45px;
  }
  


   /* next button */
  .custom-btn {
    top: 81%;
    left: 45%;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: Arial Rounded MT Bold;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    text-align: center;
    text-decoration: none;
  }

  .custom-btn span {
    text-decoration: none;
    position: relative;
    z-index: 1;
    font-size: 30px;
  }
  

  .btn-11 {
    border: none;
    background: rgb(251,33,117);
      background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
      color: #fff;
      overflow: hidden;
  }
  .btn-11:hover {
      text-decoration: none;
      color: #fff;
  }
  .btn-11:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 130px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 2s ease-in-out infinite;
  }
  .btn-11:hover{
    opacity: .7;
  }
  .btn-11:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
  
  
  @-webkit-keyframes shiny-btn1 {
      0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
      80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
      81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
      100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
  }
  
 