.HexPosition {
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: top center;
    padding-bottom: 15px;
    width: 300px;
    height: 90px;
    background-color: #3d4143;
    background-size: cover;
    border-radius: 20px;
  }

